exportPattern("^[^\\.]")
useDynLib(GenomicSEM, .registration=TRUE, .fixes=".")

importFrom(data.table,"%like%",fread,rbindlist,setnames)
importFrom(doParallel,registerDoParallel)
importFrom(dplyr,"%>%",across,all_of,anti_join,filter,inner_join,mutate,summarise)
importFrom(foreach,"%:%","%dopar%",foreach)
importFrom(gdata,"lowerTriangle","lowerTriangle<-","upperTriangle","upperTriangle<-")
importFrom(ggplot2,aes,coord_cartesian,element_blank,element_line,element_text,geom_abline,geom_hline,geom_line,geom_point,geom_ribbon,geom_segment,geom_text,geom_tile,geom_vline,ggplot,ggsave,guide_colorbar,guides,labs,scale_color_manual,scale_fill_gradient2,scale_fill_manual,scale_shape_manual,scale_size,scale_x_continuous,scale_x_discrete,scale_y_continuous,stat_function,theme,theme_bw,theme_classic,theme_minimal)
importFrom(ggpubr,ggarrange,ggexport)
importFrom(grDevices,colorRampPalette)
importFrom(iterators,icount)
importFrom(lavaan,coef,fitted,inspect,lav_func_jacobian_complex,lav_matrix_vech,lav_model_get_parameters,lavaan,lavInspect,parTable,resid,sem,simulateData,standardizedSolution)
importFrom(MASS,mvrnorm)
importFrom(Matrix,nearPD)
importFrom(matrixStats,rowQuantiles)
importFrom(parallel,detectCores,makeCluster,mclapply,stopCluster)
importFrom(psych,fa)
importFrom(readr,read_csv,read_delim)
importFrom(R.utils,gzip)
importFrom(stats,cor,cov,cov2cor,dnorm,lm,median,na.omit,optim,pchisq,pnorm,qchisq,qnorm,setNames)
importFrom(stringr,fixed,str_count,str_detect,str_remove_all,str_replace_all)
importFrom(tictoc,tic,toc)
importFrom(utils,combn,install.packages,installed.packages,lsf.str,object.size,read.table,tail,write.table)
